@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: unset;
}

:root {
  --bg-color: white;
  --text-color: black;
  --hdbg-color: rgba(255, 255, 255, 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --text-color: white;
    --hdbg-color: rgba(0, 0, 0, 0.05);
  }
}

html {
  background: var(--bg-color);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
